@{
    ViewBag.Title = "Fire & Forget";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>




    <script type="text/javascript"> 
        $(function(){
            $("#FireForget_Button_Simple").click(function () {
                $('#FireForget_Result').html("<div><img src='/img/loaders/preloader.gif' /></div>");
                  $.ajax({
                      url: '@Url.Action("_Parallel_PartialView", "FireForget", new {threadType="simple-thread"})',
                      data: { exampleParameter : "Example" },
                      contentType: "application/json; charset=utf-8",
                      //Upon a successful request - data will store your Partial View contents
                      success: function (data) {
                          $('#FireForget1_Result').html(data);
                      }
                  });
             });
        });
    </script>
    <input id="FireForget_Button_Simple" class="btn btn-primary" type="button" value="Run Parallel Tasks (Simple Thread)" />





<script type="text/javascript">
    $(function () {
        $("#FireForget_Button_Detailed").click(function () {
            $('#FireForget_Result').html("<div><img src='/img/loaders/preloader.gif' /></div>");
            $.ajax({
                url: '@Url.Action("_Parallel_PartialView", "FireForget", new {threadType="detailed-thread"})',
                data: { exampleParameter: "Example" },
                contentType: "application/json; charset=utf-8",
                //Upon a successful request - data will store your Partial View contents
                success: function (data) {
                    $('#FireForget1_Result').html(data);
                }
            });
        });
    });
    </script>
    <input id="FireForget_Button_Detailed" class="btn btn-primary" type="button" value="Run Parallel Tasks (Detailed Thread)" />





    <div id="FireForget1_Result" style="background-color:azure">
        <!-- FireForget 1 Result -->
    </div>


</div>