@{
    ViewBag.Title = "Home Page";  
}

<div class="row">

    <div class="col-xs-4 col-sm-4 col-md-4">

        <h2>Task Alchemist</h2>

        <div>
            <img src="~/img/alchemist.jpg" />
        </div>

    </div>

    <div class="col-xs-4 col-sm-4 col-md-4">
        <p class="lead">Task Alchemist is a testbed for gauging performance and user experience implications when using various async and parallelism scenarios in C# 5 with ASP.NET MVC 5</p>
    </div>

</div>

